<!DOCTYPE html>
{% extends "base.html" %}
{%block title %} {%endblock%}
{%block content %}

<h1 class="h1 m-2">Hotele do wyboru</h1>

<br/>

<!--Tutaj jakos podana lista z hotelami-->
<div class="list-group">
    {% for hotel in hotels %}
    <a href="{{ url_for('hotelView', hotel_id = hotel[0]) }}" class="list-group-item list-group-item-action">
        <div class="row">
            <div class="col">
                <img src="static/noPhoto.jpg" class="fixed-im img-thumbnail" alt="...">
            </div>
            <div class="col-8">
                <p class="fw-bold">{{hotel[1]}}</p>
                <p style="width:50%">
                    {{hotel[2]}}
                </p>
            </div>
            <div class="col align-items-center my-auto text-center">       
            </div>
        </div>
    
    </a>
    {% endfor %}
</div>

{%endblock content%}
