<!DOCTYPE html>
{% extends "base.html" %}
{%block title %} {%endblock%}
{%block content %}
<h1 class="h1 m-2">Moje odwiedzone hotele</h1>
    <br/>

    <!--Tutaj jakos podana lista z hotelami-->
    <ul class="list-group">
        {% for _ in range(0, 10) %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <img src="static/noPhoto.jpg" class="fixed-im img-thumbnail" alt="...">
                </div>
                <div class="col-8">
                    <p style="width:50%">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus error adipisci hic odio! Deleniti vero asperiores rem magnam eius ipsa nobis praesentium iste, non cupiditate saepe inventore eaque cumque exercitationem.
                    </p>
                </div>
                <div class="col align-items-center my-auto text-center">
                        {% block actionButton %}
                            
                        {% endblock actionButton %}
                </div>
            </div>            
        </li>
    {% endfor %}
    </ul>
{%endblock content%}
