<!DOCTYPE html>
{% extends "base.html" %}
{%block title %} Oceń hotele {%endblock%}
{%block content %}

<h1 class="h1 m-2">Moje odwiedzone hotele</h1>
    
<br/>

<ul class="list-group">
  {% for hotel in hotels %}
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <img src="static/noPhoto.jpg" class="fixed-im img-thumbnail" alt="...">
        </div>
        <div class="col-8">
          <p class="fw-bold">{{hotel[1]}}</p>
          <p style="width:50%">{{hotel[2]}}</p>
        </div>
        <div class="col align-items-center my-auto text-center">

<!-- Button trigger modal -->
<form method="post" id="form{{loop.index}}">
  <input type="hidden" name="hotel_id" value="{{hotel[0]}}">
<button type="button" id="makeRateButton{{loop.index}}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{loop.index}}" name="hotel" value="{{hotel[1]}}">
  {{loop.index}}
  Wystaw ocenę "{{hotel[1]}}"
</button>

<!-- Modal -->
<div class="modal" id="modal{{loop.index}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel{{loop.index}}">Wystawienie oceny</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-stretch: expanded;">
        {{loop.index}}
        Twoja ocena 
        <!--gwiazdki na razie na sztywno-->
        <!--{% for i in range(0,5) %}-->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
        </svg>
        <!--{% endfor %}-->
        <input type="number" name="stars" min="1" max="5">

        <textarea class="form-control" name="description" rows="3" placeholder="Podziel się swoją opinią"></textarea>
        <p>{{ hotel[1] }}</p>
        
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary" id="submit{{loop.index}}">Wystaw ocenę</button>
      </div>

    </div>
  </div>
</div>

</form>
<!-- Modal -->
            </div>
        </div>            
    </li>
{% endfor %}
</ul>

<script>
  console.log("Hello, World!");
  document.getElementById("makeRateButton1").addEventListener("click", function(){
    console.log("makeRateButton1 clicked");
  });
  document.getElementById("makeRateButton3").addEventListener("click", function(){
    console.log("makeRateButton3");
  });
  document.getElementById("submit1").addEventListener("click", function(){
    console.log("submit1");
  });
  document.getElementById("submit2").addEventListener("click", function(){
    console.log("submit2");
  });
</script>
{%endblock content%}