<!DOCTYPE html>
{% extends "base.html" %}
{%block title %} Usuń rezerwacje {%endblock%}
{%block head%}
<script type="text/javascript">
  console.log("MESSAGE");
 window.onload = function() {
  var popup =  '{{ popup[0] }}';
  var popup_mes =  '{{ popup[1] }}';
  
  if( popup == "True") {
    alert(popup_mes);
  }  
 }
</script>
{%endblock%}
{%block content %}
<h1 class="h1 m-2">Twoje rezerwacje</h1>
    <br/>

    <!--Tutaj jakos podana lista z hotelami-->
    <ul class="list-group">
        {% for hotel in hotels %}
        <li class="list-group-item">
          <form method="post" id="form{{loop.index}}">
            <div class="row">
                <div class="col">
                    <img src="static/noPhoto.jpg" class="fixed-im img-thumbnail" alt="...">
                </div>
                <div class="col-8">
                    <p class="fw-bold">{{hotel[1]}}</p>
                    <p style="width:50%">
                        {{hotel[2]}}
                    </p>
                </div>
                <div class="col align-items-center my-auto text-center">
                <!-- Button trigger modal -->

                <button type="button" id class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{loop.index}}">
                Usuń rezerwację
                </button>

                <!-- Modal -->
                <div class="modal" id="modal{{loop.index}}">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel{{loop.index}}">Usuwanie rezerwacji</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="font-stretch: expanded;">
                  Czy na pewno chcesz usunąć?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                  <button type="submit" class="btn btn-danger" name="delete" id="submit{{loop.index}}" onclick="deleteFun()" value="{{hotel[0]}}">Tak</button>
                </div>
                </div>
                </div>
                </div>
                <!-- Modal -->
                </div>
            </div>      
          </form>      
        </li>
    {% endfor %}
    </ul>
<!-------moze popup w modelu------------->
<div id="myModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Subscribe our Newsletter</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p>
              <form>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                  <button type="submit" class="btn btn-primary">Subscribe</button>
              </form>
          </div>
      </div>
  </div>
</div>

{%endblock content%}
