<!DOCTYPE html>
{% extends "base.html" %}
{%block title %} {%endblock%}
{%block content %}
<h1 class="h1 m-2">Moje odwiedzone hotele</h1>
    <br/>

    <!--Tutaj jakos podana lista z hotelami-->
    <ul class="list-group">
        {% for hotel in hotels %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <img src="static/noPhoto.jpg" class="fixed-im img-thumbnail" alt="...">
                </div>
                <div class="col-8">
                    <p class="fw-bold">{{hotel[1]}}</p>
                    <p style="width:50%">
                        {{hotel[2]}}
                    </p>
                </div>
                <div class="col align-items-center my-auto text-center">
                        {% block actionButton %}
                            
                        {% endblock actionButton %}
                </div>
            </div>            
        </li>
    {% endfor %}
    </ul>
{%endblock content%}
