<!DOCTYPE html>
{% extends "base.html" %}
{%block title %} Main Page {%endblock%}
{%block content %}
<div class="m-3">
    <h1>System do zarządzania rezerwacją hoteli</h1>
    <p>Wybierz przypadek użycia:</p>
    <ul>
        <li><a href="hotelsRate">Wystawienie oceny hotelu</a></li>
        <li><a href="hotelsResSelect">Dokonanie rezerwacji</a></li>
        <li><a href="hotelsSelect">Przeglądanie ocen hotelu</a></li>
        <li><a href="hotelsRemoveReservation">Usunięcie rezerwacji</a></li>
    </ul>
</div>


{%endblock%}
